* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .logo {    
    margin: 20px;
  }

  .header {
    max-width: 300px;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .button {
    width: 320px;
    height: 50px;
    border: 1px solid;
    border-color: #0057FF;
    border-radius: 10px;
    margin-bottom: 20px;   
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
  }

  .button-reg {
    background-color: #0057FF;
    color: white;
  }

  .button-login {
    color: #0057FF;
    background-color: white;    
  }
  
  button:hover {
    background-color: #76AEED;
  }
 
  button:active {
    background-color: #407FC7;
  }

  .image {
    margin-top: 10px;
  }
  