* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 360px;
}

.jumbotron,
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 24px;
}

.jumbotron .header,
.cta .header {
  max-width: 328px;
  font-size: 32px;
  text-align: center;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin: 22px 16px;
  line-height: 37.5px;
}

.button {
  width: 328px;
  height: 52px;
  border: 1px solid;
  border-color: #0057FF;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.button-reg {
  background-color: #0057FF;
  color: white;
}

.button-login {
  color: #0057FF;
  background-color: white;
}

button:hover {
  background-color: #76AEED;
}

button:active {
  background-color: #407FC7;
}

.image {
  margin-top: 10px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0057FF;
  width: 360px;
  padding: 30px 0 30px 0;
}

.statistic-item {
  max-width: 200px;
  color: white;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}

.numbers {
  font-size: 48px;
}

.caption {
  font-size: 18px;
}

.header-feed {
  font-size: 24px;
  text-align: left;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 35px;
  margin-left: 16px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  list-style: none;
}

.post-border {
  border-bottom: 1px solid #E9E9E9;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-border:last-child {
  border-bottom: none;
}

.post {
  margin: 16px 0;
  width: 328px;
}

.post-header {
  padding: 0 0 5px 16px;
  overflow: hidden;
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user {
  float: left;
}

.time {
  float: right;
}

.message {
  overflow: hidden;
  margin-top: 5px;
  padding-left: 16px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  text-align: inherit;
}

.message img {
  margin: 10px 0;
  overflow: hidden;
}

.user {
  font-size: 14px;
  text-align: left;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.user-name {
  font-weight: bold;
}

.user-account,
.time,
.post-stats-item {
  color: #ABACB1;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.time {
  font-size: 10px;
  text-align: right;
  width: 52px;
}

.post-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

.post-stats-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.post-stats-item p {
  padding-left: 12px;
}

.modals-reg,
.modals-login {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal {
  position: absolute;
  padding: 50px 30px;
  top: auto;
  bottom: 0;
  left: 0;
  transform: none;
  transform: translateY(150vh);
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #fff;
  transition: transform 0.3s;
}

.disable-scroll {
  overflow: hidden;
}

.visible {
  transform: translateY(0);
  transition: transform 0.3s;
}

.mobile-login-close,
.mobile-reg-close {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  display: block;
  background-color: transparent;
  border: none;
}

.mobile-login-close::before, 
.mobile-reg-close::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background-color: #bfbfbf;
}

.is-open {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-header {
  font-size: 24px;
  align-self: flex-start;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  line-height: 28px;
  padding: 16px;
}

.form-row {
  display: flex;
  flex-direction: column-reverse;
  width: 328px;
  height: 52px;
  margin-bottom: 20px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}

input {
  border: 1px solid;
  border-color: #DFDFDF;
  border-radius: 10px;
  padding: 16px;
  margin-top: 32px;
  font-size: 18px;
  outline: none;
}

label {
  padding-left: 16px;
  color: #bdbdbd;
  transform: translateY(70px);
  transform-origin: left top;
  cursor: text;
  transition: all 0.3s;
}

input:focus,
input:not(:placeholder-shown) {
  color: #555555;
  padding-top: 23px;
  padding-left: 16px;
}

input:focus~label,
input:not(:placeholder-shown)~label {
  transform: translateY(60px) scale(0.5);
}